<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Search driver">
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 m-5">
    <div class="col mb-3" *ngFor="let driver of driverSearch">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ driver.givenName }} {{ driver.familyName }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>